body{
  margin
}

.logo{
  max-width: 50rem;
}

.tagLine{
  font-size: 3vw;
}



.crop{
  object-fit:cover;
  width: 100%;
  height: 16.1rem;
  overflow: hidden;

}

.crop_big{
  object-fit:cover;
  width: 100%;
  /* padding-top: 2.2rem; */
  height: 35rem;
  overflow: hidden;

}

.crop_big_port{
  object-fit:cover;
  width: 100%;
  padding-top: 2.2rem;
  height: 37.1rem;
  overflow: hidden;

}


.des{
  font-size: 1.5rem;
}

.mobile_image_btn{
  display: none;
}

.desktop_image_btn{
  display: flex;
}

.process_mobile_title{
  display: none;
}

.green_border_mobile{
  border-bottom: .1rem dashed green;

  width: 5rem;
}

@media only screen and (max-width: 990px) {

  .crop_big{
    height: 16.1rem;
  }

  .crop_big_port{

    padding-top: 0rem;
    height: 16.1rem;


  }

  .des{
    margin: 0rem 1.2rem;
    text-align: justify;
    font-size: 1.2rem;
  }

  .mobile_image_btn{
    display: flex;
  }

  .desktop_image_btn{
    display: none;
  }

  .process{
    display: none;
  }

  .process_mobile_title{
    display: inherit;
    /* padding-bottom: .1rem; */

  }



}
